Django==6.0.2
djangorestframework==3.17.1
django-cors-headers==4.9.0
django-environ==0.14.0
fs-auth-middleware @ git+https://github.com/Cassio-de-Paula/FS_auth_middleware.git@v0.2.0#egg=fs-auth-middleware
requests==2.32.2
