.app {
  display: flex;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  background-color: #f9fafb;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  overflow-y: auto;
}
